body {
  background: #0055a7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#score {
  font-size: 200%;
  font-family: 'Press Start 2P', cursive;
  /* align-self: flex-start; */
}


#highScorePlayer {
  font-size: 200%;
  font-family: 'Press Start 2P', cursive;
  color: red;
}

#highScore {
  font-size: 200%;
  font-family: 'Press Start 2P', cursive;
  color: red;
}

#gameName {
  font-size: 450%;
  font-family: 'Press Start 2P', cursive;
}

#head {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 25px;
  background-size: cover;
  /* background-image: url("http://pngimg.com/uploads/tom_and_jerry/tom_and_jerry_PNG63.png"); */
  position: absolute;
  z-index: 1;
}

#container {
  width: 1000px;
}

#board {
  height: 700px;
  width: 1000px;
  border: 1px white solid;
  position: relative;
  background: url('http://2.bp.blogspot.com/-pgx8eowiF_0/U774fvhGwgI/AAAAAAAAA0w/Gkg2exOObFg/s1600/kitchen+.png') no-repeat center center;
  background-size: cover;
}

#apple {
  /* background: black; */
  /* background-color: black; */
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 0;
}

#tomhead {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 25px;
  background-size: cover;
  /* background-image: url("http://pngimg.com/uploads/tom_and_jerry/tom_and_jerry_PNG63.png"); */
  position: absolute;
  z-index: 1;
}

.body {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

.tail {
  background: black;
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  border-radius: 0px;
  position: absolute;
  z-index: 1;
}
